* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.gif_container img {
  width: 200px;
}

h1 {
  color: #ff4d6d;
}

.buttons {
  position: relative;
  height: 60px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.yes-button {
  background-color: #ff4d6d;
  color: white;
}

.no-button {
  background-color: #adb5bd;
  color: white;
  position: absolute;
}
